@charset 'utf-8';

/*************************************************
*
*	project:  	liteTabs - Lightweight jQuery tabs plugin
*	author:   	Nicola Hibbert
*	url:	  	http://nicolahibbert.com/lightweight-jquery-tab-plugin/
*	demo:	  	http://www.nicolahibbert.com/demo/liteTabs/
*
/*************************************************/
/****************************************** Core */

#tabs_chars {
	width: 100% !important;
}

.liteTabs {
	position: relative; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	width: 100% !important;
	margin: 6px 0 0 0
}
.liteTabs ul {
	margin: 0; 
	padding: 0; 
	background: #0F6592;
	overflow: hidden; 
	width: 100% !important;
}
.liteTabs li {
	float: left; 
	list-style-type: none;
	margin-right: 12px;
}
.liteTabs li:before {
	display: none;
}
.liteTabs li a {
	position: relative;
	display: block; 
	text-decoration: none; 
	outline: 0; 
	padding: 8px 20px; 
	color: #ffffff;
	font-size: 15px; 
	font-weight: 400;
	text-align: left;
	text-decoration: underline;
}

.liteTabs a:hover {
	background: #eff2f5;
	color: #176791;
	font-size: 15px;
	font-weight: 401;
	text-align: left;
	text-decoration: none;
}
.liteTabs a:focus {
}
.liteTabs a.selected, .liteTabs a.selected:hover {
	background: #eff2f5;
	color: #176791;
	text-align: left;
	text-decoration: none;
}
.liteTabs div {
	float: left; 
	width: 100% !important; 
	padding: 10px 0;  
	background: white;
}

.liteTabs div h2{
	font-size: 16px;
	margin-bottom: 0;
}

.liteTabs div table tr td:first-child{
	white-space: nowrap;
}

.liteTabs div.selected {
	position: static !important ;
}

/*************************************** Rounded */
.rounded ul {
	-moz-border-radius: 8px 8px 0 0; 
	border-radius: 8px 8px 0 0 
}
.rounded li a {
	-moz-border-radius: 8px 8px 0 0; 
	border-radius: 8px 8px 0 0 
}
.rounded div {
	-moz-border-radius: 0 8px 8px 8px; 
	border-radius: 0 8px 8px 8px 
}

/**************************************** Borders */
.borders ul {
	position: relative; 
	top: 1px 
}
.borders li a {
	border: 1px solid #999; 
	border-bottom: 0 
}
.borders div {
	border: 1px solid #999 
}

/****************************************** Boxed */
.boxed {
	padding: 2px; 
	background: #ddd; 
	border: 1px solid #666 
}
.boxed ul {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204,204,204)), color-stop(1, rgb(238,238,238)));

	background: -moz-linear-gradient(center bottom, rgb(204,204,204) 0%, rgb(238,238,238) 100%) 
}