@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team. */
/* ==========================================================================
 * Base styles: opinionated defaults
 * ========================================================================== */
html, button, input, select, textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design. */
\::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas. */
textarea {
  resize: vertical; }

/* ==========================================================================
 * Browse Happy prompt
 * ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #565656; }

h1, h2, h3 {
  font-weight: normal; }

h1 {
  color: #2c3746;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 38px 0;
  padding: 0;
  text-transform: uppercase; }

.lined_h1 {
  position: relative;
  text-align: center !important; }
  .lined_h1:before {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 980;
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background: #E6EAF0; }
  .lined_h1 h1 {
    position: relative;
    z-index: 1000;
    display: inline-block;
    background: #fff;
    padding: 0 20px; }

h2 {
  position: relative;
  top: 10px;
  color: #2c3746;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0 25px 0;
  padding: 0; }

p + h2 {
  margin-top: 20px; }

h3 {
  color: #2c3746;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin: 34px 0 21px 0;
  padding: 0; }

p + h3 {
  margin-top: 20px; }

header, nav, main, footer {
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: left; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

a {
  outline: none !important;
  color: #176791; }
  a:hover {
    text-decoration: none; }

.ttu {
  text-transform: uppercase; }

header {
  height: 107px; }
  header .logo {
    position: absolute;
    top: 18px;
    left: 0;
    display: block;
    width: 230px;
    height: 66px;
    background: url(/img/logo.png) center center no-repeat; }
  header .contacts {
    position: absolute;
    top: 30px;
    right: 0;
    text-align: right; }
    header .contacts .phone {
      position: relative;
      color: #2c3746;
      font-size: 26px;
      font-weight: 700; }
      header .contacts .phone:before {
        position: absolute;
        top: 7px;
        left: -28px;
        display: block;
        content: ' ';
        width: 20px;
        height: 20px;
        background-image: url(/img/header_phone_icon.png); }
      header .contacts .phone span {
        font-weight: 400; }

nav.top_menu {
  z-index: 1001;
  background-color: #176791;
  height: 42px;
  padding: 0; }
  nav.top_menu ul {
    margin: 0 0 0 16px; }
    nav.top_menu ul li {
      position: relative;
      padding: 0;
      margin: 0;
      float: left; }
      nav.top_menu ul li a {
        display: block;
        padding: 0 18px;
        margin: 0;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        height: 42px;
        line-height: 42px; }
        nav.top_menu ul li a:hover {
          color: #0F6592;
          background: #EDF0F3 !important; }
      nav.top_menu ul li ul {
        display: none;
        position: absolute;
        top: 42px;
        left: -18px;
        background: #EDF0F3;
        padding: 10px 0; }
        nav.top_menu ul li ul li {
          white-space: nowrap;
          display: block;
          float: none; }
          nav.top_menu ul li ul li + li:before {
            position: absolute;
            top: 0;
            display: block;
            content: ' ';
            height: 1px;
            width: 100%;
            background: #E5E6E7;
            line-height: 16px !important; }
          nav.top_menu ul li ul li a {
            position: relative;
            color: #176791;
            font-size: 12px;
            font-weight: 400;
            text-align: left;
            line-height: 16px;
            padding: 10px 18px !important;
            height: auto !important; }
            nav.top_menu ul li ul li a:hover {
              background: #0F6592 !important;
              color: #fff; }
      nav.top_menu ul li:hover {
        background: #EDF0F3; }
        nav.top_menu ul li:hover a {
          color: #0F6592; }
        nav.top_menu ul li:hover ul {
          display: block; }
          nav.top_menu ul li:hover ul a:hover {
            color: #fff; }

.slider {
  position: relative;
  height: 370px;
  min-width: 980px;
  margin-bottom: 22px; }

.b_breadcrumbs {
  margin: 45px 0 5px 0; }
  .b_breadcrumbs ul {
    width: 980px;
    margin: 0 auto;
    text-align: left; }
    .b_breadcrumbs ul li {
      text-align: left;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      text-transform: uppercase;
      color: #aaa; }
      .b_breadcrumbs ul li + li:before {
        display: inline-block;
        content: '—';
        margin: 0 5px; }
      .b_breadcrumbs ul li a {
        color: #3486db; }

main {
  padding: 20px 0 60px 0; }
  main p {
    color: #565656;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 25px 0;
    padding: 0; }
  main a {
    color: #0F6592; }
    main a:hover {
      text-decoration: none; }
  main .btn {
    position: relative;
    display: inline-block;
    background: #dae1eb;
    height: 42px;
    line-height: 42px;
    padding: 0 28px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 20px 12px; }
    main .btn:before {
      position: absolute;
      top: 0;
      left: -12px;
      display: block;
      content: '';
      height: 42px;
      width: 12px;
      background-image: url(/img/main_btn_sprite.png); }
    main .btn:after {
      position: absolute;
      top: 0;
      right: -12px;
      display: block;
      content: '';
      height: 42px;
      width: 12px;
      background-image: url(/img/main_btn_sprite.png);
      background-position: -12px 0; }
  main ul {
    margin: 0 0 0 16px;
    padding: 0; }
    main ul li {
      position: relative;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #565656; }
      main ul li:before {
        position: absolute;
        left: -15px;
        top: 10px;
        display: block;
        content: ' ';
        height: 3px;
        width: 3px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #0F6592; }
  main table {
    width: 100%;
    padding: 0;
    margin: 20px 0; }
    main table tr th {
      background: #D8DFE8;
      text-transform: uppercase;
      padding: 16px 25px; }
    main table tr td {
      border-bottom: 1px solid #EAEEF2;
      color: #565656;
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      padding: 15px 25px; }
  main .col_2 .col {
    float: left;
    width: 48%;
    margin: 0 2% 0 0; }
  main .col_2:after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    clear: both; }

.detail_page .pic {
  float: left;
  margin-right: 32px;
  position: relative;
  display: block;
  width: 359px;
  height: 410px;
  background-position: center 27px;
  -webkit-background-size: auto 327px;
  background-size: auto 327px;
  background-repeat: no-repeat;
  border: 1px solid #dae1ea;
  text-transform: uppercase; }
  .detail_page .pic:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    content: 'увеличить изображение';
    width: 208px;
    height: 23px;
    margin: 0 0 0 -104px;
    padding: 8px 0 0 0;
    background-image: url(/img/detail_pic_btn_bkg.png);
    background-repeat: no-repeat;
    background-position: center top;
    color: #2c3746;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline; }
  .detail_page .pic:hover:before {
    text-decoration: none; }

.detail_page .desc {
  width: 587px;
  float: left; }
  .detail_page .desc .price {
    position: relative;
    display: inline-block;
    height: 48px;
    line-height: 54px;
    font-size: 30px;
    color: #DE0200;
    border: 3px solid #dae1eb;
    padding: 0 13px;
    margin: 0 0 20px 0; }
    .detail_page .desc .price:before {
      position: absolute;
      top: -3px;
      left: -17px;
      display: block;
      content: '';
      height: 54px;
      width: 20px;
      background-image: url(/img/price_arrow.png); }
    .detail_page .desc .price .text {
      font-size: 14px; }
  .detail_page .desc .btn {
    margin-left: 0; }
  .detail_page .desc .b_color_list {
    width: 100%;
    margin: 20px 0 0px 0;
    background: #fff; }
    .detail_page .desc .b_color_list li {
      float: left;
      margin: 0 38px 38px 0;
      display: block;
      height: 40px;
      width: 40px; }
      .detail_page .desc .b_color_list li:nth-child(8n) {
        margin-right: 0; }

.b_gallery_list {
  width: 100%;
  padding: 0;
  margin: 0; }
  .b_gallery_list li {
    float: left;
    margin: 0 20px 23px 0; }
    .b_gallery_list li:before {
      display: none; }
    .b_gallery_list li:nth-child(4n) {
      margin-right: 0; }
    .b_gallery_list li a {
      display: block;
      width: 230px;
      height: 156px;
      background-position: center center;
      -webkit-background-size: cover;
      background-size: cover; }

.b_section_list {
  margin: 0 0 30px 0;
  padding: 0; }
  .b_section_list li {
    float: left;
    width: 25%;
    margin: 0 0 20px 0;
    padding: 0; }
    .b_section_list li:before {
      display: none; }
    .b_section_list li:nth-child(4n+1) {
      clear: left; }
    .b_section_list li a {
      display: block;
      text-align: center; }
      .b_section_list li a .pic {
        position: relative;
        display: block;
        width: 229px;
        height: 127px;
        margin: 0 auto 13px auto; }
        .b_section_list li a .pic:before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          content: '';
          width: 229px;
          height: 127px;
          background-image: url(/img/catalog_section_item_top.png); }
      .b_section_list li a .name {
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase; }

.contacts_info {
  width: 321px;
  float: left; }
  .contacts_info ul {
    padding: 0;
    margin: 0; }
    .contacts_info ul li {
      clear: both;
      margin: 0 0 25px 0; }
      .contacts_info ul li:before {
        display: none; }
      .contacts_info ul li .icon {
        float: left;
        width: 67px;
        height: 67px;
        background-image: url(/img/contacts_sprite.png);
        margin: 0 16px 0 0; }
      .contacts_info ul li .text {
        height: 67px;
        display: table-cell;
        vertical-align: middle;
        color: #333333;
        font-size: 15px;
        line-height: 23px;
        font-weight: 400; }
      .contacts_info ul li .icon_01 {
        background-position: 0 0; }
      .contacts_info ul li .icon_02 {
        background-position: 0 -67px; }
      .contacts_info ul li .icon_03 {
        background-position: 0 -134px; }

.contacts_map {
  width: 659px;
  float: left; }

#feedback {
  width: 400px; }
  #feedback h2 {
    color: #2c3746;
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 25px 0; }
  #feedback p {
    position: relative;
    top: -8px;
    width: 360px;
    margin: 0 auto 20px auto;
    text-align: left; }
  #feedback ul li {
    margin: 0 0 20px 0; }
  #feedback ul input {
    border: solid 1px #dae1ea;
    background-color: #ffffff;
    width: 313px;
    height: 40px;
    padding: 0 30px 0 15px;
    font-style: italic;
    background: url(/img/form_req.png) center right no-repeat; }
  #feedback ul textarea {
    border: solid 1px #dae1ea;
    background-color: #ffffff;
    width: 328px;
    height: 70px;
    padding: 15px;
    resize: none;
    font-style: italic; }
  #feedback .red {
    color: #FF0000; }
  #feedback .btn {
    position: relative;
    display: inline-block;
    background: #dae1eb;
    border: 0;
    height: 42px;
    width: 198px;
    line-height: 42px;
    padding: 0 28px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 20px 12px;
    background-image: url(/img/form_submit_btn.png); }
    #feedback .btn:hover {
      text-decoration: none; }

nav.bottom_menu {
  height: 25px; }
  nav.bottom_menu ul li {
    float: left; }
    nav.bottom_menu ul li a {
      display: block;
      padding: 3px 10px;
      margin: 0; }

.footer_wrapper {
  background: #2C3746; }
  .footer_wrapper footer {
    height: 140px;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px; }
    .footer_wrapper footer .copyright_company {
      position: absolute;
      top: 35px;
      left: 0; }
      .footer_wrapper footer .copyright_company a {
        color: #ffffff; }
    .footer_wrapper footer .footer_btn {
      display: block;
      position: absolute;
      top: 50px;
      left: 400px;
      color: #2c3746;
      font-size: 12px;
      font-weight: 400;
      background: #FDFDFD;
      padding: 0 40px;
      height: 41px;
      line-height: 41px; }
      .footer_wrapper footer .footer_btn:before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 41px;
        width: 13px;
        content: '';
        background-image: url(/img/footer_btn_bkg_sprite.png); }
      .footer_wrapper footer .footer_btn:after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: 41px;
        width: 13px;
        content: '';
        background-image: url(/img/footer_btn_bkg_sprite.png);
        background-position: -13px 0; }
    .footer_wrapper footer .copyright_pixel {
      position: absolute;
      top: 55px;
      right: 0;
      width: 250px;
      text-align: right;
      font-size: 12px;
      line-height: 14px; }
      .footer_wrapper footer .copyright_pixel .logo {
        position: relative;
        top: -5px;
        background: url(/img/footer_pixelstar_logo.png);
        display: block;
        float: right;
        width: 35px;
        height: 38px;
        margin: 0 0 0 20px; }
      .footer_wrapper footer .copyright_pixel a {
        color: #ffffff;
        text-decoration: none; }

/** Carousel * */
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
  .jcarousel li {
    float: left;
    width: 100%;
    background-color: #DCBDB2; }
    .jcarousel li a {
      display: block;
      height: 370px;
      width: 100%;
      max-width: 1260px;
      margin: 0 auto;
      background-position: center center;
      background-repeat: no-repeat; }

/** Carousel Controls * */
.jcarousel-prev, .jcarousel-next {
  position: absolute;
  top: 140px;
  width: 57px;
  height: 101px;
  background-image: url(/img/slider_sprite.png); }

.jcarousel-prev {
  left: 0; }

.jcarousel-next {
  right: 0;
  background-position: -57px 0; }

.jcarousel-prev:hover span, .jcarousel-next:hover span {
  display: block; }

.jcarousel-prev.inactive, .jcarousel-next.inactive {
  opacity: .5;
  cursor: default; }

/** Carousel Pagination * */
.jcarousel-pagination {
  position: absolute;
  display: block;
  width: 128px;
  height: 24px;
  background-image: url(/img/slider_pagination_bkg.png);
  bottom: 0;
  left: 50%;
  margin-left: -64px;
  padding: 50px 0 0 0; }
  .jcarousel-pagination a {
    display: inline-block;
    min-width: 14px;
    background-image: url(/img/slider_pagination.png);
    width: 14px;
    height: 17px;
    margin: 0 3px; }
    .jcarousel-pagination a.active {
      background-position: -14px 0; }

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/*
 * Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/*
 * Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *		`contenteditable` attribute is included anywhere else in the document.
 *		Otherwise it causes space to appear at the top and bottom of elements
 *		that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *		`:before` to contain the top-margins of child elements. */
.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats. */
/* ==========================================================================
 * EXAMPLE Media Queries for Responsive Design.
 * These examples override the primary ('mobile first') styles.
 * Modify as content requires.
 * ========================================================================== */
/* ==========================================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr {
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid;
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */